---
import Layout from '../layouts/Layout.astro';


const pubs = [
	{
		year:"2024",
		publications:[
			{
				title: "Into the Unknown Unknowns: Engaged Human Learning through Participation in Language Model Agent Conversations",
				link: "https://arxiv.org/abs/2408.15232",
				authors: "Yucheng Jiang, Yijia Shao, Dekun Ma, Sina J. Semnani, Monica S. Lam",
				conference_title: "The 2024 Conference on Empirical Methods in Natural Language Processing (EMNLP)",
				conference_misc: ", Miami, Florida, November 12 –16, 2024."
			},
			{
				title: "SPINACH: SPARQL-Based Information Navigation for Challenging Real-World Questions",
				link: "https://arxiv.org/abs/2407.11417",
				authors: "Shicheng Liu*, Sina J. Semnani*, Harold Triedman, Jialiang Xu, Isaac Dan Zhao, Monica S. Lam",
				conference_title: "Findings of the 2024 Conference on Empirical Methods in Natural Language Processing (EMNLP)",
				conference_misc: ", Miami, Florida, November 12 –16, 2024."
			},
			{
				title: "Zero-shot Persuasive Chatbots with LLM-Generated Strategies and Information Retrieval",
				link: "https://arxiv.org/abs/2407.03585",
				authors: "Kazuaki Furumai, Roberto Legaspi, Julio Vizcarra, Yudai Yamazaki, Yasutaka Nishimura, Sina J. Semnani, Kazushi Ikeda, Weiyan Shi, Monica S. Lam",
				conference_title: "Findings of the 2024 Conference on Empirical Methods in Natural Language Processing (EMNLP)",
				conference_misc: ", Miami, Florida, November 12 –16, 2024."
			},
			{
				title: "SPAGHETTI: Open-Domain Question Answering from Heterogeneous Data Sources with Retrieval and Semantic Parsing",
				link: "https://arxiv.org/abs/2406.00562",
				authors: "Heidi C. Zhang, Sina J. Semnani, Farhad Ghassemi, Jialiang Xu, Shicheng Liu, Monica S. Lam",
				conference_title: "Findings of the 62nd Annual Meeting of the Association for Computational Linguistics (ACL)",
				conference_misc: ", Bangkok, Thailand, August 11-16, 2024."
			},
			{
				title: "Assisting in Writing Wikipedia-like Articles From Scratch with Large Language Models",
				link: "https://arxiv.org/abs/2402.14207",
				authors: "Yijia Shao, Yucheng Jiang, Theodore A. Kanell, Peter Xu, Omar Khattab, Monica S. Lam",
				conference_title: "Proceedings of the North American Chapter of Association for Computational Linguistics (NAACL)",
				conference_misc: ", Mexico City, Mexico, June 16–21, 2024."
			},
			{
				title: "SUQL: Conversational Search over Structured and Unstructured Data with Large Language Models",
				link: "https://arxiv.org/abs/2311.09818",
				authors: "Shicheng Liu, Jialiang Xu, Wesley Tjangnaka, Sina J. Semnani, Chen Jie Yu, Monica S. Lam",
				conference_title: "Findings of the North American Chapter of Association for Computational Linguistics (NAACL)",
				conference_misc: ", Mexico City, Mexico, June 16–21, 2024."
			},
			{
				title: "ReactGenie: A Development Framework for Rich Multimodal Interactions Using Large Language Models",
				link: "https://jya.ng/reactgenie",
				authors: "Jackie (Junrui) Yang, Yingtian Shi, Yuhan Zhang, Karina Li, Daniel Wan Rosli, Anisha Jain, Shuning Zhang, Tianshi Li, James A. Landay, Monica S. Lam",
				conference_title: "Proceedings of the CHI Conference on Human Factors in Computing Systems (CHI '24)",
				conference_misc: ", Honolulu, HI, USA, May 11–16, 2024."
			},
			{
				title: "AMMA: Adaptive Multimodal Assistants Through Automated State Tracking and User Model-Directed Guidance Planning",
				link: "https://jya.ng/amma",
				authors: "Jackie (Junrui) Yang, Leping Qiu, Emmanuel Corona-Moreno, Louisa Shi, Hung Bui, Monica S. Lam, James A. Landay",
				conference_title: "2024 IEEE Conference Virtual Reality and 3D User Interfaces (VR)",
				conference_misc: ", Orlando, FL, March 16-21, 2024."
			}
		]
	},
	{
		year:"2023",
		publications:[
			{
				title: "Fine-tuned LLMs Know More, Hallucinate Less with Few-Shot Sequence-to-Sequence Semantic Parsing over Wikidata",
				link: "https://arxiv.org/abs/2305.14202",
				authors: "Silei Xu*, Shicheng Liu*, Theo Culhane, Elizaveta Pertseva, Meng-Hsi Wu, Sina J. Semnani, Monica S. Lam",
				conference_title: "Proceedings of Association for Computational Linguistics: EMNLP 2023",
				conference_misc: ", Resorts World Convention Centre, Singapore, December 6-10, 2023."
			},
			{
				title: "WikiChat: Stopping the Hallucination of Large Language Model Chatbots by Few-Shot Grounding on Wikipedia",
				link: "https://arxiv.org/abs/2305.14292",
				authors: "Sina J. Semnani, Violet Z. Yao*, Heidi C. Zhang*, Monica S. Lam",
				conference_title: "Proceedings of Association for Computational Linguistics: EMNLP 2023",
				conference_misc: ", Resorts World Convention Centre, Singapore, December 6-10, 2023."
			},
			{
				title: "X-RiSAWOZ: High-Quality End-to-End Multilingual Dialogue Datasets and Few-shot Agents",
				link: "https://arxiv.org/abs/2306.17674",
				authors: "Mehrad Moradshahi*, Tianhao Shen*, Kalika Bali, Monojit Choudhury, Gael de Chalendar, Anmol Goel, Sungkyun Kim, Prashant Kodali, Ponnurangam Kumaraguru, Nasredine Semmar, Sina Semnani, Jiwon Seo, Vivek Seshadri, Manish Shrivastava, Michael Sun, Aditya Yadavalli, Chaobin You, Deyi Xiong, Monica S. Lam",
				conference_title: "Findings of the Association for Computational Linguistics (ACL)",
				conference_misc: ", Toronto, Canada, July 9-14, 2023."
			},
			{
				title: "Zero and Few-Shot Localization of Task-Oriented Dialogue Agents with a Distilled Representation",
				link: "https://aclanthology.org/2023.eacl-main.62/",
				authors: "Mehrad Moradshahi, Sina Semnani, Monica S. Lam",
				conference_title: "Proceedings of the European Chapter of the Association for Computational Linguistics (EACL)",
				conference_misc: ", Dubrovnik, Croatia, May 2-6 2023."
			},
			{
				title: "Contextual Semantic Parsing for Multilingual Task-Oriented Dialogues",
				link: "https://aclanthology.org/2023.eacl-main.63/",
				authors: "Mehrad Moradshahi, Victoria C. Tsai, Giovanni Campagna, Monica S. Lam",
				conference_title: "Proceedings of the European Chapter of the Association for Computational Linguistics (EACL)",
				conference_misc: ", Dubrovnik, Croatia, May 2-6 2023."
			},
			{
				title: "HomeView: Automatically Building Smart Home Digital Twins With Augmented Reality Headsets",
				link: "https://arxiv.org/abs/2111.02574",
				authors: "Zhuoyue Lyu, Jackie (Junrui) Yang, Monica S. Lam, and James A. Landay",
				conference_title: "Adjunct Proceedings of the 35th Annual ACM Symposium on User Interface Software and Technology (UIST '22 Adjunct)",
				conference_misc: ", Bend, Oregon, Oct 29-Nov 2, 2022."
			}
		],
	},
	
	{
		year:"2022",
		publications:[{
				title: "A Few-Shot Semantic Parser for Wizard-of-Oz Dialogues with the Precise ThingTalk Representation",
				link: "https://almond-static.stanford.edu/papers/naacl22.pdf",
				authors: "Giovanni Campagna, Sina J. Semnani, Ryan Kearns, Lucas Jun Koba Sato, Monica S. Lam",
				conference_title: "Findings of the Association for Computational Linguistics (ACL)",
				conference_misc: ", Dublin, Ireland, May 2022."
			},
			{
				title: "HybridTrak: Adding Full-Body Tracking to VR Using and Off-the-Shelf Webcam",
				link: "https://almond-static.stanford.edu/papers/chi22.pdf",
				authors: "Jackie (Junrui) Yang, Tuochao Chen, Fang Qin, Monica S. Lam, James A. Landay",
				conference_title: "Proceedings of the 2022 CHI Conference on Human Factors in Computing Systems",
				conference_misc: ", New Orleans, LA, April 2022."
			},
		]
	},
	{
		year:"2021",
		publications:[{
				title: "DIY Assistant: A Multi-Modal End-User Programmable Virtual Assistant",
				link: "https://almond-static.stanford.edu/papers/diya-pldi21.pdf",
				authors: "Michael H. Fischer*, Giovanni Campagna*, Euirim Choi, Monica S. Lam",
				conference_title: "Proceedings of the 42nd ACM SIGPLAN International Conference on Programming Language Design and Implementation (PLDI 2021)",
				conference_misc: ", June 2021"
			},
			{
				title: "Grounding Open-Domain Instructions to Automate Web Support Tasks",
				link: "https://arxiv.org/abs/2103.16057",
				authors: "Nancy Xu, Sam Masling, Michael Du, Giovanni Campagna, Larry Heck, James Landay, Monica S Lam",
				conference_title: "Proceedings of the 2021 Annual Conference of the North American Chapter of the Association for Computational Linguistics (NAACL-HLT 2021)",
				conference_misc: ", New Orleans, LA, April 2022."
			},
		]
	},
	{
		year:"2020",
		publications:[{
				title: "Neural Generation Meets Real People: Towards Emotionally Engaging Mixed-Initiative Conversations",
				link: "https://arxiv.org/abs/2008.12348",
				authors: "Ashwin Paranjape, Abigail See, Kathleen Kenealy, Haojun Li, Amelia Hardy, Peng Qi, Kaushik Ram Sadagopan, Nguyet Minh Phu, Dilara Soylu, Christopher D. Manning",
				conference_no_in: true,
				conference_title: "ArXiv Preprint",
				conference_misc: ""
			},
			{
				title: "AutoQA: From Databases To Q&A Semantic Parsers With Only Synthetic Training Data",
				link: "https://almond-static.stanford.edu/papers/autoqa-emnlp2020.pdf",
				authors: "Silei Xu*, Sina J. Semnani*, Giovanni Campagna, Monica S. Lam",
				conference_title: "Proceedings of the 2020 Conference on Empirical Methods in Natural Language Processing",
				conference_misc: ", November 2020"
			},
			{
				title: "Localizing Open-Ontology QA Semantic Parsers in a Day Using Machine Translation",
				link: "https://almond-static.stanford.edu/papers/spl-emnlp2020.pdf",
				authors: "Mehrad Moradshahi, Giovanni Campagna, Sina J. Semnani, Silei Xu, Monica S. Lam",
				conference_title: "Proceedings of the 2020 Conference on Empirical Methods in Natural Language Processing",
				conference_misc: ", November 2020."
			},
			{
				title: "Soteria: A Provably Compliant User Right Manager Using a Novel Two-Layer Blockchain Technology",
				link: "http://infolab.stanford.edu/~echang/SoteriaDataPrivacy.pdf",
				authors: "Wei-Kang Fu, Yi-Shan Lin, Giovanni Campagna, Chun-Ting Liu, De-Yi Tsai, Chung-Huan Mei, Edward Y. Chang, Shih-Wei Liao, Monica S. Lam",
				conference_title: "IEEE Infrastructure Conference",
				conference_misc: ", October 2020."
			},
			{
				title: "DoThisHere: Multimodal Interaction to Improve Cross-Application Tasks on Mobile Devices",
				link: "https://jackieyang.me/files/dothishere.pdf",
				authors: "Jackie Yang, Monica S. Lam, James A. Landay",
				conference_title: "Proceedings of the 33rd Annual ACM Symposium on User Interface Software and Technology (UIST)",
				conference_misc: ", October 2020."
			},
			{
				title: "State-Machine-Based Dialogue Agents with Few-Shot Contextual Semantic Parsers",
				link: "https://arxiv.org/abs/2009.07968",
				authors: "Giovanni Campagna, Sina J. Semnani, Ryan Kearns, Lucas Jun Koba Sato, Monica S. Lam",
				conference_no_in: true,
				conference_title: "ArXiv Preprint",
				conference_misc: ""
			},
			{
				title: "Schema2QA: High-Quality and Low-Cost Q&A Agents for the Structured Web",
				link: "https://almond-static.stanford.edu/papers/schema2qa-cikm2020.pdf",
				authors: "Silei Xu, Giovanni Campagna, Jian Li, and Monica S. Lam",
				conference_title: "Proceedings of the 29th ACM International Conference on Information and Knowledge Management",
				conference_misc: ", October 2020.",
				misc_links: [
					{link: "https://stanford-oval.github.io/schema2qa", title: "Website"}
				]
			},
			{
				title: "End-User Programming of Virtual Assistant Skills and Graphical User Interfaces",
				link: "https://drive.google.com/file/d/1IJvmdWAUl0BxKtlW_lqCUS4IgJY-uTCB/view",
				authors: "Michael H. Fischer",
				conference_no_in: true,
				conference_title: "Dissertation",
				conference_misc: ""
			},
			{
				title: "Zero-Shot Transfer Learning with Synthesized Data for Multi-Domain Dialogue State Tracking",
				link: "https://almond-static.stanford.edu/papers/multiwoz-acl2020.pdf",
				authors: "Giovanni Campagna, Agata Foryciarz, Mehrad Moradshahi, and Monica S. Lam",
				conference_no_in: true,
				conference_title: "Proceedings of the 58th Annual Meeting of the Association for Computational Linguistics (Volume 1: Long Papers)",
				conference_misc: ", July 2020"
			},
			{
				title: "Soundr: Head Position and Orientation Prediction Using a Microphone Array",
				link: "https://almond-static.stanford.edu/papers/soundr-chi2020.pdf",
				authors: "Jackie Yang, Gaurab Banerjee, Vishesh Gupta, Monica S. Lam, and James A. Landay",
				conference_title: "CHI '20: Proceedings of the 2020 CHI Conference on Human Factors in Computing Systems, Honolulu, HI",
				conference_misc: ", Honolulu, HI, April 2020."
			},
			{
				title: "ImagineNet: Restyling Apps Using Neural Style Transfer",
				link: "https://arxiv.org/abs/2001.04932",
				authors: "Michael H. Fischer, Richard R. Yang, and Monica S. Lam",
				conference_no_in: true,
				conference_title: "ArXiv Preprint",
				conference_misc: ""
			}
		],
	},
	{
		year:"2019",
		publications:[{
				title: "Genie: A Generator of Natural Language Semantic Parsers for Virtual Assistant Commands",
				link: "https://almond-static.stanford.edu/papers/genie-pldi19.pdf",
				authors: "Giovanni Campagna*, Silei Xu*, Mehrad Moradshahi, Richard Socher, and Monica S. Lam",
				conference_title: "Proceedings of the 40th ACM SIGPLAN Conference on Programming Language Design and Implementation",
				conference_misc: ", Phoenix, AZ, June 2019.",
				misc_links: [
					{link: "https://almond-static.stanford.edu/releases/pldi19-artifact.tar.xz", title:"Artifact"},
					{link: "https://almond-static.stanford.edu/releases/pldi19-dataset.tar.xz", title:"Dataset"}
				]
			},
			
		]
	},
	{
		year:"2018",
		publications:[{
				title: "Controlling Fine-Grain Sharing in Natural Language with a Virtual Assistant",
				link: "https://almond-static.stanford.edu/papers/ubicomp18.pdf",
				authors: "Giovanni Campagna, Silei Xu, Rakesh Ramesh, Michael Fischer, and Monica S. Lam",
				conference_title: "Proceedings of the ACM on Interactive, Mobile, Wearable and Ubiquitous Technologies (IMWUT)",
				conference_misc: ", 2018"
			},
			{
				title: "Brassau: Automatically Generating Graphical User Interfaces for Virtual Assistants",
				link: "https://almond-static.stanford.edu/papers/mobilehci18.pdf",
				authors: "Michael Fischer, Giovanni Campagna, Silei Xu, and Monica S. Lam",
				conference_title: "20th International Conference on Human-Computer Interaction with Mobile Devices and Services. (MobileHCI)",
				conference_misc: ", 2018"
			},
		]
	},
	{
		year:"2017",
		publications:[{
			title: "Almond: The Architecture of an Open, Crowdsourced, Privacy-Preserving, Programmable Virtual Assistant",
			link: "https://almond-static.stanford.edu/papers/www17.pdf",
			authors: "Giovanni Campagna, Rakesh Ramesh, Silei Xu, Michael Fischer, and Monica S. Lam",
			conference_title: "Proceedings of the 26th International World Wide Web Conference (WWW)",
			conference_misc: ", Perth, Australia, April 2017"
			},
		]
	}
]

---


<Layout title="Stanford OVAL — Publications">
	<main>
		<div class="mx-8 md:mx-80 pb-24">
		<p class="header mt-10 text-4xl md:text-6xl">Publications</p>
		
		
		<ul>
			{pubs.map((item) => (
				<>
				
					<h4 class="mt-6 font-semibold">{item.year}</h4>
					{item.publications.map((pub) => ( 
						<li class="mt-4">
							<a
								href={pub.link}
								style={{ fontStyle: 'italic' }}
							>
								{pub.title}
							</a>
							<p style="color:#444">{pub.authors}</p>
							<p>{!pub.conference_no_in && <span>In</span>} <span class="italic">{pub.conference_title}</span> {pub.conference_misc}</p>
							{pub.misc_links && pub.misc_links.map((link) => (
								<a href={link.link}>{link.title}</a>
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-5 inline-block w-4 h-4">
									<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
								</svg>

							))}
						</li>
					))}
					<hr class="h-px my-8 opacity-10 bg-gray-900 border-0 ">
			
				</>
			))}
		</ul>
		


	</main>
</Layout>

<style>
	main {
		color: rgb(var(--accent-bright));
		font-size: 20px;
		line-height: 1.6;
	}
	
	.header {
		
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
		color: rgb(var(--accent))

	}
	p {
		color: #444
	}
	
</style>
